{% load i18n staticfiles static %}
{% load classfilter %}
<!DOCTYPE html>

<html lang="en-us" >
<head>
	<title>用户注册</title>
	<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" charset=utf-8">
	<link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
	<meta name="robots" content="NONE,NOARCHIVE">
	<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/jquery.form.js' %}"></script>
	<script>
		$(document).ready(function(){
			$("#车站").hide()
			$("select").change(function(){
				if($("select").val()==3)
					$("#车站").show(200),$("#车站").children().children("input").attr("required",'true')
				else
					$("#车站").hide(200),$("#车站").children().children("input").removeAttr("required")
			})
		})
	</script>
</head>
	<body class=" app-accounts model-user change-form" data-admin-utc-offset="0">
	<!-- Container -->
		<div id="container">
		    <!-- Header -->
		    <div id="header">
		        <div id="branding">
		        	<h1 id="site-name"><a href="{% url 'login' %}">调度命令管理系统</a></h1>
		        </div>
		    </div>
		    <!-- END Header -->
			<div class="breadcrumbs">
				<a href="{% url 'login' %}">登录</a>
				&rsaquo; 注册
			</div>
		    <!-- Content -->
		    <div id="content" class="colM">
		        <h1 style="text-align:center">用户注册</h1>
		        <div id="content-main">
					<form action="{% url 'accounts:register' %}" method="post" id="user_form">
						{% csrf_token %}
						<fieldset class="module aligned ">
							{% for foo in myform %}
							<div class="form-row" style="display:flex;justify-content:center" id="{{foo.label}}">
								<div>
									{{ foo | label_with_classes:'required' }}{{ foo }}
									<div style="position:relative;height:0;top:-25px;left:300px">{{ foo.errors }}</div>
								</div>
							</div>
							
							{% endfor %}
						</fieldset>
						<div class="submit-row" style="text-align:center">
							<input type='submit' value = '提交'></input>
						</div>
					</form>
				</div>
				<br class="clear">
		    </div>
		    <!-- END Content -->
		    <div id="footer"></div>
	    </div>
	    <!-- END Container -->
	</body>
</html>