{% extends "orders/base.html" %}
{% load i18n staticfiles static %}
{% load number_cn %}

{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'generic/css/mywidgets.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'generic/css/myforms.css' %}">
	<style type="text/css">
		label{
			text-align:center;
		}
		td{
			vertical-align: middle;
			text-align:center;
		}
		th{
			vertical-align: middle;
			text-align:center;
		}
		textarea{
			width:90%;
			resize:none;
		}
		#additem{
			height:160px;
			border-bottom:2px;
			display:flex;
			justify-content:center;
			align-items:center;
			border:1px dashed
		}
		.orderitem{
			margin-bottom:10px;
			padding:2px 3px;
		}
		.item{
			margin-bottom:5px
		}
		ol{
			list-style:none;
		}
		#addnote{
			border-radius:5px;
			border:1px dashed;
			width:20%;
			display:flex;
			justify-content:center;
			align-items:center
		}
		#orderform{
			display:flex;
			flex-direction:column;
			justify-content:center
		}
		.verifyview{
			display:flex;
			justify-content:center
		}
/* 		@media (max-width: 767px){
			.verifyview{
				display: inline-block
			}
		} */
	</style>
{% endblock %}
{% block JS %}
	<script type="text/javascript" src="{% static 'bootstrap/js/jquery.jqprint-0.3.js' %}"></script>	
	<script type="text/javascript" src="{% static 'bootstrap/js/jquery-migrate-1.2.1.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/jquery.form.js' %}"></script>
	<script type="text/javascript">
	function overItem(obj){
		obj.style.border = "1px dashed";
	}
	function leaveItem(obj){
		obj.style.border="";
	}
	function toChinesNum(num){
	    let changeNum = ['零', '一', '二', '三', '四', '五', '六', '七', '八', '九']; //changeNum[0] = "零"
	    let unit = ["", "十", "百", "千", "万"];
	    num = parseInt(num);
	    let getWan = (temp) => {
	    let strArr = temp.toString().split("").reverse();
	    let newNum = "";
	    for (var i = 0; i < strArr.length; i++) {
	      newNum = (i == 0 && strArr[i] == 0 ? "" : (i > 0 && strArr[i] == 0 && strArr[i - 1] == 0 ? "" : changeNum[strArr[i]] + (strArr[i] == 0 ? unit[0] : unit[i]))) + newNum;
	    }
	     return newNum;
	   }
	   let overWan = Math.floor(num / 10000);
	   let noWan = num % 10000;
	   if (noWan.toString().length < 4) noWan = "0" + noWan;
	   return overWan ? getWan(overWan) + "万" + getWan(noWan) : getWan(num);
	}
	function reject(){
		var text=$("textarea").val()? "一旦提交无法更改，确定？":"未做批注，是否继续？"
			if(confirm(text))
		    $("#orderform").ajaxSubmit({
		    	url:"{% url 'orders:reject' orderid=order.id %}",
		    	type: 'post',
		    	success:function(result) {
			        // 对于表单提交成功后处理，message为表单正常提交后返回的内容
			        console.log(result)
			        if(result==1){
				        $(".submit-row").remove();
				        $("#addnote").remove()
				        location.reload();
				        alert("劝退成功")
			        }else{
			        	alert(result)
			        }
		        },
		    });
	    return false
	}
	function publish(){
		var id=$('select').val()
		var csrf=$('input[name="csrfmiddlewaretoken"]').val();
	    $.post("{% url 'orders:getstation' %}",
	    		{
	    	      id:id,
	    	      csrfmiddlewaretoken:csrf
	    	    },
	    	    function(data,status){
	    			var station=data
	    			var text= "确认发布给"+station+'站的'+$('select').children("[value="+ $('select').val() +"]").html()+"？"
	    			if(confirm(text))
	    				$("#orderform").ajaxSubmit({
	    					url:"{% url 'orders:publishorder' orderid=order.id %}",
	    					type:"post",
	    					success:function(result) {
	    						if(result==1){
	    					        $(".submit-row").remove();
	    					        $("#addnote").remove()
	    					        location.reload();
	    					        alert("发布成功")
	    				        }else
	    				        	alert(result)
	    					},
	    				});
	    	    });
	    return false
	}
	function getStation(id){

	}
	function onprint() {
		var html = $(".verifyview").jqprint({
			debug:true,
			printContainer: true,
			importCSS: true
		});
	}
	</script>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".orderitem").each(function(){
			if($(this).children().length>2){
				var i=0
				$(this).children().each(function(){
					$(this).children("#i").html(i++ +'.')
				})
			}
		});
		
		{% if order.status_code == 1 %}
		$("#addnote").mouseover(function(){
			$(this).css({
				"background":"rgba(0,0,0,0.1)"
			});
			$(this).html("点击添加批注")
			
		});
		$("#addnote").mouseleave(function(){
			$(this).css({
				"background":""
			});
			$(this).html('')
		});
		$("#addnote").click(function(){
			$(this).unbind()
			$(this).html("<textarea name='note' style='height:90%'></textarea>")
		});
		{% endif %}
		$("#pass").click(function(){
			var csrf=$('input[name="csrfmiddlewaretoken"]').val();
			var text=$("textarea").val()? "已做批注，确认通过？":"审核通过后无法撤回，确认通过？"
			if(confirm(text)){
			    $.post("{% url 'orders:pass' %}",
			    		{
			    	      id:{{order.id}},
			    	      csrfmiddlewaretoken:csrf
			    	    },
			    	    function(data,status){
			    	    	if(data==1){
			    	    		location.reload();
			    	    		alert("审核通过")
			    	    	}else{
			    	    		alert(data)
			    	    	}
			    	    });
			}
		});
		$("#recall").click(function(){
			var csrf=$('input[name="csrfmiddlewaretoken"]').val();
			var text= "确认撤除？"
			if(confirm(text)){
			    $.post("{% url 'orders:recall' %}",
			    		{
			    	      id:{{order.id}},
			    	      csrfmiddlewaretoken:csrf
			    	    },
			    	    function(data,status){
			    	    	if(data==1){
			    	    		location.reload();
			    	    		alert("已撤除")
			    	    	}else{
			    	    		alert(data)
			    	    	}
			    	    });
			}
		});
		$("#sign").click(function(){
			var csrf=$('input[name="csrfmiddlewaretoken"]').val();
			var text= "确认签收？"
			if(confirm(text)){
			    $.post("{% url 'orders:sign' %}",
			    		{
			    	      id:{{order.id}},
			    	      csrfmiddlewaretoken:csrf
			    	    },
			    	    function(data,status){
			    	    	if(data==1){
			    	    		location.reload();
			    	    		alert("签收")
			    	    	}else{
			    	    		alert(data)
			    	    	}
			    	    });
			}
		});
	});
	</script>
{% endblock %}
		{% block content %}				<!-- 提交函数 -->
		<form id="orderform" onsubmit="return {% if user.state == 1 %}reject(){% elif user.state == 2 %}publish(){% endif %}">
			{% csrf_token %}
			<div class="verifyview">
				<table style="margin-bottom:10px" border="1">
					<tr>
						<th><label>命令号</label></th>
						<td><label>{{order.id}}</label></td>
						<th><label>（局）施工台</label></th>
						<td><label>{{ order.platform }}</label></td>
						<th><label>调度员</label></th>
						<td><label>{{creater.name}}</label></td>
						<th><label>电话</label></th>
						<td><label>{{ phone }}</label></td>
					</tr>
					<tr>
						<th><label>起止时间</label></th>
						<td colspan="3"><label>{{ order.startdate }}&nbsp&nbsp至&nbsp&nbsp{{ order.enddate }}</label></td>
						<th><label>出示日期</label></th>
						<td><label>{{order.founddate}}</label></td>
						<th><label>撤除日期</label></th>
						<td><label>{{order.deletedate}}</label></td>
					</tr>
					<tr>
						<th><label>命令内容</label></th>
						<td colspan="7" style="text-align:left">
							<div id="orderitemlist" style="min-height:600px;">
							{% for orderitem in orderitemlist %}
								<div class="orderitem" onmouseover="overItem(this)" onmouseout="leaveItem(this)" id="1">
									<div class="item1"><span>{% indexCN forloop.counter %}</span>、&nbsp{{orderitem.start_time}}至{{orderitem.end_time}}{% if orderitem.place %}，因{{orderitem.place}}{{orderitem.cause}}{% endif %}</div>
									{% if orderitem.speed_limit %}<div class="item"><span id="i"></span>&nbsp速度不高于{{orderitem.speed_limit}}km/h，{{orderitem.speed_note}}</div>{% endif %}
									{% if orderitem.pattern %}<div class="item"><span id="i"></span>&nbsp{{orderitem.pattern}}</div>{% endif %}
									{% if orderitem.device %}<div class="item"><span id="i"></span>&nbsp{{orderitem.device}}</div>{% endif %}
								</div>
							{% endfor %}
							</div>
						</td>
					</tr>
					<tr style="font-size:10px">
						<th><label>单位</label></th>
						<td><label>{{ order.unit }}</label></td>
						<th><label>签收人</label></th>
						<td>
							<label>
<!-- 								签收人栏
								{% if user.state == 2 %}
									{% if order.status_code == 3 %}
										{{ orderform.receiver }}
									{% else %}
										{{order.receiver}}
									{% endif %}
								{% elif user.state == 3 %}
									{% if order.status_code == 4 %}
										{{order.receiver}}
									{% elif order.status_code == 6 %}
										{{ order.receiver }}{{ order.receivetime }}签收
									{% endif %}
								{% endif %} -->
								
								{% if order.status_code == 3 %}
									{% if user.state == 2 %}
										{{ orderform.receiver }}
									{% endif %}
								{% else %}
									{{ order.receiver }}
									{% if order.receivetime %}
										{{ order.receivetime }}签收
									{% endif %}
								{% endif %}
							</label>
						</td>
						<th><label>复核人</label></th>
						<td><label>{{ order.verifier }}</label></td>
						<th><label>撤除人</label></th>
						<td><label>{{ order.recaller }}</label></td>
					</tr>
				</table>
				<!-- 右侧批注栏 -->
				{% if user.state == 1 %}
					{% if order.status_code == 1 %}
						<div id="addnote"></div>
					{% elif order.status_code == 2 %}
						<div id="addnote">{{order.note}}</div>
					{% endif %}
				{% endif %}
			</div>
			<!-- 底部按钮 -->
			<div class="submit-row" style="display:flex;justify-content:space-around">
				{% if user.state == 1 %}
					{% if order.status_code == 1 %}
						<input id="pass" type="button" value="通过" name="_addanother">
						<input type="submit" style="background:#CC3434" value="驳回" name="_addanother">
					{% endif %}
				{% elif user.state == 2 %}
					{% if order.status_code == 3 %}
						<input type="submit" value="发布" name="_addanother">
					{% elif order.status_code == 4 %}
						<input onclick="onprint()" type="button" value="打印" name="_addanother">
						<input id="recall" type="button" style="background:#CC3434" value="撤除" name="_addanother">
					{% elif order.status_code == 5 %}
					{% endif %}
				{% elif user.state == 3 %}
					{% if order.status_code == 4 %}
						<input id="sign" type="button" value="签收" name="_addanother">
					{% elif order.status_code == 6 %}
						<input onclick="onprint()" type="button" value="打印" name="_addanother">
					{% endif %}
				{%endif%}
			</div>
		</form>
		{% endblock %}
		
		

		